a {
  text-decoration: none !important;
  color: $green;
  &:hover {
    color: black;
  }
}

.content {
  min-height: calc(100vh - 100px);
}
 .p-30 {
  padding: 30px
 }
 .pt-30 {
  padding-top: 30px;
 }

.bg-red-orange {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(253,16,21,1) 0%, rgba(230,126,34,1) 100%);
}

.fadeIn {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.open-symbole:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  margin-left: 10px;
}

.close-symbole:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
  font-size: 13px;
  color: white;
  margin-left: 10px;
}

/* UNDERLINE */
span[class*="undeline-"] {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    height: 0.2em;
    width: 100%;
    position: absolute;
    bottom: 0.12em;
    z-index: -1;

  }
}
span.undeline-red::before {
  background: red;
}
span.undeline-blue::before {
  background: blue;
}
span.undeline-green::before {
  background: green;
}
span.undeline-yellow::before {
  background: yellow;
}
span.undeline-orange::before {
  background: orange;
}
span.undeline-violet::before {
  background: violet;
}
span.undeline-purple::before {
  background: purple;
}
